name: Bootcamp QA Github Acions

on:
  push:
    branches:
      - main

jobs:
  Nightwatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm install
      - run: npm ci
      - run: npm run Test:Login
